.logo{
    display: grid;
    grid-template-columns: 50% 50%;
}
.l1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.l2{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.lg{
    height: 50px;
    width: 60px;
}