body {
    font-family: Arial, sans-serif;
}

.container3 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.part {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-box label {
    margin-bottom: 5px;
    text-align: left;
}

.input-box input,
.input-box select,
.input-box textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-box {
    width: 100%;
}

.left-column {
    justify-self: start;
}

.center-column {

    justify-self: center;
}

.right-column {
    justify-self: end;
}



/* .btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
} */

/* .btn:hover {
    background-color: #218838;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.section {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

textarea {
    resize: none;
}

/* Center Next button and Header */
.next-button {
    grid-column: span 3;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .form-box {
        grid-template-columns: 1fr;
        /* Single column layout for smaller screens */
    }

    .next-button {
        grid-column: span 1;
        /* No need to span on smaller screens */
    }

}