<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Documents</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/upload_style.css' %}">
</head>
<body>
        <h2>Scholarship Application Form</h2>
    
        <h3>Applicant Personal Information</h3>
        <div class="container">
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container2">
                <!-- Left Part -->
                <div class="left-part">
                    <div class="section">
                        <div class="input-box">
                            <label>Domicile <span class="required">*</span></label>
                            <input type="file" name="Domicile" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>10th Marksheet <span class="required">*</span></label>
                            <input type="file" name="10th Marksheet" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>12th Marksheet <span class="required">*</span></label>
                            <input type="file" name="12th Marksheet" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>Caste Certificate <span class="required">*</span></label>
                            <input type="file" name="Caste Certificate" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>Aadhaar Card <span class="required">*</span></label>
                            <input type="file" name="Aadhaar Card" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>Income Certificate <span class="required">*</span></label>
                            <input type="file" name="recommendation" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>Bank Passbook <span class="required">*</span></label>
                            <input type="file" name="Bank Passbook" accept=".pdf" required>
                        </div>
                    </div>
                </div>
    
                <!-- Right Part -->
                <div class="right-part">
                    <div class="section">
                        <div class="input-box">
                            <label>Passport Size Photograph <span class="required">*</span></label>
                            <input type="file" name="Passport Size Photographs" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>Proof of Admission <span class="required">*</span></label>
                            <input type="file" name="Proof of Admission" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>Fee Structure of the Course <span class="required">*</span></label>
                            <input type="file" name="Fee Structure of the Course" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>Certificate of Disability</label>
                            <input type="file" name="Certificate of Disability" accept=".pdf">
                        </div>
                        <div class="input-box">
                            <label>Affidavit <span class="required">*</span></label>
                            <input type="file" name="Affidavit" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>Migration Certificate <span class="required">*</span></label>
                            <input type="file" name="Migration Certificate" accept=".pdf" required>
                        </div>
                        <div class="input-box">
                            <label>Bonafide Certificate <span class="required">*</span></label>
                            <input type="file" name="Bonafide Certificate" accept=".pdf" required>
                        </div>
                    </div>
                </div>
                </div>
                <!-- Submit -->
                <button type="submit" class="btn">Submit Application</button>
            </form>
        </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
