<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css'%}">
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="cont">
        <div class="container gap-4">
            <h2 class="container py-3 my-2">Signup</h2>
            <form action="#" class="w-75 gap-4p-2 m-2">
                <div class="input-box mb-3">
                    <label>Enter Name</label>
                    <input class="form-control" type="name" required>
                </div>
                <div class="input-box mb-3">
                    <label>Enter Mobile Number</label>
                    <input class="form-control" type="number" maxlength="12"
                        oninput="javascript: if(this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength) "
                        required>
                </div>
                <div class="input-box mb-3">
                    <label>Email</label>
                    <input class="form-control" type="email" required>
                </div>

                <div class="input-box mb-3">
                    <label>Password</label>
                    <input class="form-control" type="password" required>
                </div>
                <!-- <div class="input-box mb-3">
                        <label>Enter OTP</label>
                        <input  class="form-control" type="number" maxlength="6"
                            oninput="javascript:if(this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength) "
                            required>
                    </div> -->
                <div class="container lower-part gap-3">
                    <button type="submit" class="btn">Signup</button>
                    <div class="signup-link">
                        <a href="{%url 'login' %}">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>