<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" IE=edge>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship Application</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/scholarship_form_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container container3 my-4   py-4">
        <h2 class="bg-info-subtle text-dark  p-2 my-3">Scholarship Application Form</h2>

        <form action="{% url 'docs_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-box">
                <!-- Applicant personal Information -->
                <div class="formPart   my-3 py-2">
                    <div class="section">
                        <div class="sectionHead text-start my-3">
                            <h3>Applicant Personal Information</h3>
                        </div>

                        <div class="part part1">
                            <div class="left-column input-box">
                                <label title="It is compulsory">Full Name <span class="required">*</span></label>
                                <input class="form-control personal" type="text" name="name" id="name" maxlength="30" placeholder="Enter your full name" onkeyup="checkFillForm(),checker()" required>
                            </div>
                            <div class="left-column input-box">
                                <label title="It is compulsory">Father's Name <span class="required">*</span></label>
                                <input class="form-control personal" type="text" name="father_name" maxlength="30"
                                    placeholder="Enter your father's name as per 12th marksheet"
                                    onkeyup="checkFillForm(),checker()" required>
                            </div>
                            <div class="left-column input-box">
                                <label title="It is compulsory">Mother's Name <span class="required">*</span></label>
                                <input class="form-control personal" type="text" name="mother_name" maxlength="30"
                                    placeholder="Enter your mother's name as per 12th marksheet"
                                    onkeyup="checkFillForm(),checker()" required>
                            </div>
                            <div class="left-column input-box">
                                <label title="It is compulsory">Gender <span class="required">*</span></label>
                                <select name="gender" id="gender" class="form-control personal" onchange="checkFillForm()" onkeyup="checkFillForm(),checker()"
                                    required>
                                    <option value="" selected>Select gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="left-column input-box">
                                <label title="It is compulsory">Email <span class="required">*</span></label>
                                <input class="form-control personal" type="email" name="email" placeholder="Enter your email"
                                    onkeyup="checkFillForm(),checker()" required>
                            </div>
                            <div class="left-column input-box">
                                <label title="It is compulsory">Phone Number <span class="required">*</span> <span
                                        class="text-start warning" id="warning1"></span></label>
                                <input class="form-control personal" type="number" name="phone" maxlength="12"
                                    placeholder="Enter your phone number with (91)"
                                    oninput="javascript:if(this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);"
                                    id="phone" onkeyup="checkFillForm(),checker()" required>

                            </div>
                            <div class="left-column input-box">
                                <label title="It is compulsory">Date of Birth <span class="required">*</span></label>
                                <input class="form-control personal" type="date" id="date" name="dob" onkeyup="checkFillForm(),checker()" required>
                            </div>
                            <div class="left-column input-box">
                                <label title="It is compulsory">Nationality <span class="required">*</span></label>
                                <input class="form-control personal" type="text" name="nationality"
                                    placeholder="Enter your nationality" onkeyup="checkFillForm(),checker()" required>
                            </div>
                            <div class="left-column input-box">
                                <label title="It is compulsory">Permanent Address <span
                                        class="required">*</span></label>
                                <input class="form-control personal" type="text" name="permanent_address"
                                    placeholder="Enter your permanent address" onkeyup="checkFillForm(),checker()" required>
                            </div>
                        </div>
                    </div>
                    <!-- Additional Information -->

                    <div class="section">
                        <div class="sectionHead text-start my-3">
                            <h3>Educational Information</h3>
                        </div>

                        <div class="part part2">
                            <div class="center-column input-box">
                                <label title="It is compulsory">Institution Name <span class="required">*</span></label>
                                <input class="form-control education" type="text" name="institution"
                                    placeholder="Enter your institution name" onkeyup="checkFillForm(),checker()" required>
                            </div>
                            <div class="center-column input-box">
                                <label title="It is compulsory">Course Name <span class="required">*</span></label>
                                <input class="form-control education" type="text" name="course"
                                    placeholder="Enter the course you are applying for" onkeyup="checkFillForm(),checker()"
                                    required>
                            </div>
                            <div class="center-column input-box">
                                <label title="It is compulsory">Current Year <span class="required">*</span></label>
                                <input class="form-control education" type="number" maxlength="1" name="current_year"
                                    oninput="javascript: if(this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength)"
                                    placeholder="Enter your current year" onkeyup="checkFillForm(),checker()" required>
                            </div>
                            <div class="center-column input-box">
                                <label title="It is compulsory">Type of Course <span class="required">*</span></label>
                                <select name="course_type" class="form-control education" onchange="checkFillForm()" onkeyup="checkFillForm(),checker()" required>
                                    <option value="">Select Course Type</option>
                                    <option value="ug">Undergraduate (UG)</option>
                                    <option value="pg">Postgraduate (PG)</option>
                                    <option value="online">Online Course</option>
                                </select>
                            </div>
                            <div class="right-column input-box">
                                <label title="It is compulsory">10th Marks <span class="required">*</span></label>
                                <input class="form-control education" type="number" name="tenth_marks"
                                    placeholder="Enter your 10th marks"
                                    oninput="javascript: if(this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);"
                                    maxlength="3" onkeyup="checkFillForm(),checker()" required>
                            </div>
                            <div class="right-column input-box">
                                <label title="It is compulsory">10th Percentage(%) <span class="required">*</span> <span
                                        class="text-start warning" id="warning4"></span></label>
                                <input class="form-control education" type="number" name="tenth_percentage"
                                    placeholder="Enter your 10th percentage"
                                    oninput="javascript: if(this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);"
                                    maxlength="3" onkeyup="checkFillForm(),checker()"
                                    id="10percentage" required>
                            </div>
                            <div class="right-column input-box">
                                <label title="It is compulsory">12th Marks <span class="required">*</span></label>
                                <input class="form-control education" type="number" name="twelth_marks"
                                    placeholder="Enter your 12th marks"
                                    oninput="javascript: if(this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);"
                                    maxlength="3" onkeyup="checkFillForm(),checker()" required>
                            </div>
                            <div class="right-column input-box">
                                <label title="It is compulsory">12th Percentage(%) <span class="required">*</span> <span
                                        class="text-start warning" id="warning5"></span></label>
                                <input class="form-control education" type="number" name="twelth_percentage"
                                    placeholder="Enter your 12th percentage" maxlength="3"
                                    oninput="javascript:if(this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength)"
                                    onkeyup="checkFillForm(),checker()"
                                    id="12percentage" required>
                            </div>
                        </div>
                    </div>
                    <div class="section">

                        <div class="sectionHead text-start my-3">
                            <h3>Bank Information</h3>
                            <div class="part part3">
                                <div class="center-column input-box">
                                    <label title="It is compulsory">Bank Name <span class="required">*</span></label>
                                    <input class="form-control bank" type="text" name="bank"
                                        placeholder="Enter Bank name" onkeyup="checkFillForm(),checker()" required>
                                </div>
                                <div class="center-column input-box">
                                    <label title="It is compulsory">Account Number <span class="required">*</span> <span
                                            class="text-start warning" id="warning2"></span></label>
                                    <input class="form-control bank" type="number" name="account_number"
                                        placeholder="Enter account number" id="account_number"
                                        onkeyup="checkFillForm(),checker()" required>
                                </div>
                                <div class="center-column input-box">
                                    <label title="It is compulsory">Confirm Account Number <span
                                            class="required">*</span> <span class="text-start warning"
                                            id="warning3"></span></label>
                                    <input class="form-control bank" type="number" name="caccount_number"
                                        placeholder="Enter confirm account number" id="caccount_number"
                                        onkeyup="checkFillForm(),checker()" required>
                                </div>
                                <div class="center-column input-box">
                                    <label title="It is compulsory">IFSC Code of Bank <span
                                            class="required">*</span></label>
                                    <input class="form-control bank" type="text" name="ifsc"
                                        placeholder="Enter ifsc code of bank" onkeyup="checkFillForm(),checker()" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Next button centered -->
                <div class="next-button" id="next-btn">
                    <button type="submit" class="btn btn-primary my-2 py-2" disabled id="btn">Next</button>
                </div>
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="{% static 'js/scholarship_form.js' %}">
</script>

</html>